{% extends 'base.html.twig' %}

{% block title %}New Functie{% endblock %}

{% block body %}
    <h1>Create new Functie</h1>

    {{ include('functie/_form.html.twig') }}

    <a href="{{ path('functie_index') }}">back to list</a>
{% endblock %}
